/**/*
!/**/
/venv/
!*.ipynb
!*.gitignore
!*.md
!*.bat
!*.py
!*.yml
!*.ui
!*.yaml

!requirements.txt
!version.txt

/docs/build
!/docs/Makefile

/build/

/runs 

/data/**
/results/**
secret_api_key.txt

/scripts/snippets